@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body,
html {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#picture1,
#picture2,
#picture3,
#picture4,
#picture5,
#picture6 {
  display: none;
}

#picturediv {
  min-height: 400px;
  text-align: center;
}

.title {
  text-align: center;
}

#remaininglives {
  text-align: center;
}

.inputdiv {
  text-align: center;
}

#answer {
  text-align: center;
  margin: 12px 0;
}

#losemessage {
  text-align: center;
}

#guessinput {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

#submitbtn {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
